<!-- card list -->
<div layout="row" layout-align="center" >
	<div flex="80" flex-sm="100">
		<md-card>
			<img ng-src="" alt=""  class="md-card-image" >
			<md-card-content>
				<h2 class="md-title">Paracosm</h2>
	        <p>
	          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
	          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
	        </p>
			</md-card-content>
		</md-card>
	</div>
</div>

<!-- message list -->
<div layout="row" layout-align="center" layout-padding>
	<div flex="80" flex-sm="100">
		<md-content layout-padding>

			<md-subheader class="md-no-sticky">3 line item, long paragraph (see on mobile)</md-subheader>
			<md-list-item class="md-3-line">
				<img ng-src="" class="md-avatar" alt="">
				<div class="md-list-item-text" layout="column">
					<h3>Min Li Chan</h3>
					<h4>Brunch this weekend?</h4>
					<p>I'll be in your neighborhood doing errands</p>
				</div>
		  </md-list-item>

		  <md-divider ></md-divider>

		  <md-subheader class="md-no-sticky">2 line item</md-subheader>
			<md-list-item class="md-2-line">
				<img ng-src="" class="md-avatar" alt="">
				<div class="md-list-item-text" layout="column">
					<h3>Min Li Chan</h3>
					<p>I'll be in your neighborhood doing errands</p>
				</div>
		  </md-list-item>

		  <md-divider></md-divider>

		  <md-subheader class="md-no-sticky">3 line item, long paragraph (see on mobile)</md-subheader>
		  <md-list-item class="md-3-line md-long-text">
		  	<img ng-src="" alt="" class="md-avatar">
				<div class="md-list-item-text">
					<h3>Min Li Chan</h3>
					<p>Secondary line text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam massa quam. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litra torquent per conubia nostra, per inceptos himenaeos.</p>
				</div>
		  </md-list-item>

		  <md-divider></md-divider>

		  <md-subheader class="md-no-sticky">classes</md-subheader>
		  <md-list-item class="md-3-line">
				<md-icon></md-icon>
				<div class="md-list-item-text">
					<h3>(555) 251-1234</h3>
					<p>Home</p>
				</div>
		  </md-list-item>

		</md-content>
	</div>
</div>
